.img{
    width:20px;
    height:20px;
    background-image: url(../pics/tips.png);
    background-position:center;
    background-size:cover;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.tips{
    width: 130px;
    position: absolute;
    top: 10px;
    right: 32px;
    font-size: 12px;
    color: #808080;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: left;
    border-radius: 5px;
    padding-left: 5px;
    display: none;
    
}

@media (max-width:750px){
    .tips{
        width: 90px;
    }
}