@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-style: normal;
}
/*導覽列*/
.navigation {
  display: flex;
  width: 100%;
  height: 54px;
  justify-content: center;
  align-items: center;
  background-color: #60a5fa;
  margin-bottom: 30px;
  margin-top: 0;
}
nav {
  display: flex;
  width: 1200px;
  height: 100%;
  /* justify-content: center;
    place-items: center; */
}
.nav-title {
  font-size: 34px;
  font-weight: 400;
  text-align: left;
  color: #eff6ff;
  margin: 10px;
  white-space: nowrap;
  font-family: "Monoton", cursive;
  line-height: 36px;
}
.nav-menu {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  /* align-items: center; */
}
.nav-menu > button {
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  width: 290px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 5rem;
  outline: none;
  transition: 150ms ease-in-out;
  display: block;
}
.nav-menu > button:hover {
  transition: 1s ease-in-out;
  background: #abcff3;
  opacity: 1;
}
.mobile-menu {
  text-align: right;
  display: none;
  flex: auto;
  position: absolute;
  top: 10px;
  right: 15px;
}
/*主畫面*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  margin-bottom: 50px;
}
.main-content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "A1 A2 A4 A4"
    "A1 A2 A4 A4"
    "A3 A3 A4 A4"
    "A3 A3 A4 A4";
  width: 1000px;
  height: 500px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
/*左側-上半*/
.main-left-today {
  grid-area: A1;
  background-color: #eff6ff;
  box-shadow: 0 2px #cbd5e1;
  opacity: 0.9;
  text-align: center;
  border-radius: 15px;
  color: #1e3a8a;
  /* font-size: 28px; */
  font-weight: 500;
  padding-top: 5px;
}
.main-left-tomorrow {
  grid-area: A2;
  background-color: #eff6ff;
  box-shadow: 0 2px #cbd5e1;
  opacity: 0.9;
  text-align: center;
  border-radius: 15px;
  justify-content: center;
  color: #1e3a8a;
  /* font-size: 28px; */
  font-weight: 500;
  padding-top: 5px;
}
/*左側-下半*/
.main-left-bottom {
  grid-area: A3;
  background-color: #eff6ff;
  box-shadow: 0 2px #cbd5e1;
  opacity: 0.9;
  text-align: center;
  border-radius: 15px;
  position: relative;
  color: #1e3a8a;
  font-size: 28px;
  font-weight: 400;
  padding-top: 5px;
}
canvas {
  padding-top: 10px;
}
/*主畫面-右側-地圖*/
.main-right {
  grid-area: A4;
  height: 500px;
}
.main-right > label {
  padding-left: 5px;
  padding-top: 10px;
}
svg {
  height: 550px;
}

.block {
  width: 100%;
  height: 100%;
}

/* <style type="text/css">
        						.st0 {
          							fill: #E6E6E6;
        						}
      						</style> 
                  移至這裡並改為對a標籤設定*/
a {
  fill: #e6e6e6;
}

a path {
  transition: all 0.2s;
}

a:hover path {
  fill: #bfdbfe;
}

a.active path {
  fill: #3b82f6;
}

@media (max-width: 1200px) {
  nav {
    width: 99%;
  }
  .nav-title {
    width: 100%;
  }
  .nav-menu {
    width: 90%;
  }
  .nav-menu > button {
    width: 150px;
  }
  .main {
    width: 98%;
  }
  .main-content {
    width: 95%;
  }
  .main-right {
    width: 98%;
  }
  .block {
    width: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 750px) {
  .navigation {
    width: 100%;
    margin-bottom: 30px;
  }
  nav {
    width: 99%;
  }
  .nav-title {
    width: 100%;
  }
  .nav-menu {
    width: 90%;
  }
  .nav-menu > button {
    display: none;
    flex: auto;
    text-align: right;
  }
  /*手機-漢堡圖*/
  .mobile-menu {
    display: block;
    text-align: right;
  }
  .dropdown-img {
    background: none;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-image: url("../pics/icon-menu.png");
    width: 30px;
    height: 30px;
  }
  .dropdown {
    position: relative;
  }
  .dropdown.active + .dropdown-img,
  .dropdown-img:hover {
    opacity: 0.9;
  }
  .dropdown-list {
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
    background-color: #60a5fa;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 #1d4ed8;
    opacity: 0;
    color: #eff6ff;
    font-size: 28px;
    font-weight: 500;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  }
  .dropdown.active > .dropdown-img + .dropdown-list {
    opacity: 1;
    transform: translateY(0);
    position: auto;
  }
  #mobile-temp,
  #mobile-rainfall {
    cursor: pointer;
  }
  #mobile-temp:hover,
  #mobile-rainfall:hover {
    background: rgb(171, 207, 243, 0.7);
    border-radius: 5px;
  }
  .main {
    width: 99%;
  }
  .main-content {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
      "A4 A4 A4 A4"
      "A4 A4 A4 A4"
      "A1 A1 A2 A2"
      "A3 A3 A3 A3";
    width: 90%;
    height: 750px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    place-content: center;
    margin-bottom: 30px;
  }
  .main-right > label {
    padding-left: 10px;
  }
  .block {
    height: 95%;
  }
  svg {
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
